
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans';
  --scrollbar: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 56px;
  position: relative;
}

div.envlp {
  margin-bottom: 80px;
  padding-top: 43px;
}

div.row {
  margin-top: 15px;
  margin-bottom: 15px;
}

h2 {
  font-family: 'Abel';
  font-size: 46px;
}

p.corps {
  text-align: justify;
}

img.avatar {
  margin: 3px;
  border-radius: 100px;
  border-width: 4px;
  border-style: solid;
  border-color: black;
}

/* ----- ENVOIE ----- */
button.btn-outline-dark:hover {
  background: linear-gradient(to bottom right, #DD762A, #CD411B);
  opacity: 0.8;
  color: #FFF8F0;
}

/* ----- IFRAME ----- */
button.btn-copy {
  box-shadow: none;
}

iframe {
  margin-top: 50px;
}

/* ----- NAVBAR ----- */
nav.navbar, img.logo, a.nav-link, button.btn-top {
  transition: 0.4s;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Sen';
  color: #E0DDCF;
}

.navbar-light .navbar-toggler, .navbar-light .navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #FFF8F0;
}

.navbar-light .navbar-nav .nav-link:active {
  color: #432E36;
}

nav.linear-gradient {
  background: linear-gradient(to bottom right, #CD411B, #DD762A);
}

a.logo {
  margin: 0px;
  padding: 0px;
}

#rotatable {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#rotatable:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* Expended */
nav.nav-expended {
  height: 100px;
}

nav.nav-expended img {
  height: 85px;
}

nav.nav-expended a.nav-link {
  font-size: 24px;
}

/* Collapsed */
nav.nav-collapsed {
  height: 60px;
}

nav.nav-collapsed img {
  height: 50px;
}

nav.nav-collapsed a.nav-link {
  font-size: 14px;
}

/* ----- FOOTER ----- */
.card-footer {
  background-color: rgba(255, 255, 255, .1);
}

.card-footer a.nav-link {
  font-family: 'Sen';
  color: #432E36;
}

/* ----- RETOUR EN HAUT ----- */
.btn-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  background: linear-gradient(to bottom right, #DD762A, #CD411B);
}

.btn-top.focus, .btn-top:focus {
  box-shadow: 0 0 0 .2rem #DD762A;
}

button.hide {
  display: none;
}

button.show {
  display: block;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

/* ----- BACKGROUND ----- */
.bg {
  animation: slide 12s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #003049 50%, #E0DDCF 50%);
  /* background-image: linear-gradient(-60deg, #E0DDCF 50%, #003049 50%); */
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 16s;
}

.bg3 {
  animation-duration: 20s;
}

.container {
  background-color: rgba(255, 255, 255, .8);
  padding: 0px;
  padding-bottom: 10px;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/* AJUSTEMENT MOBILE */
@media (max-width: 991.5px) {
  body {
    margin-top: 10px;
  }

  img.avatar {
    width: 100px;
    border-width: 2px;
  }

  #navbarToggler {
    display: none;
    position: absolute;
    right: 0;
    top: 52px;
    background-color: #432E36;
    text-align: right;
    padding: 3px;
  }

  .navbar-menu:hover>#navbarToggler {
    display: block;
  }

  .navbar-menu {
    height: 52px;
  }

  nav.nav-expended {
    height: 60px;
  }

  nav.nav-expended img {
    height: 50px;
  }

  nav.nav-expended a.nav-link {
    font-size: 14px;
  }

  .navbar-light .navbar-nav .nav-link.active {
    color: #FFF8F0;
  }

  button.btn-top {
    position: fixed;
    right: 20px;
  }
}
